@page {
    size: 8.5in 11in;
    margin: 0mm;
    padding-left: .5em;
    padding-right: .5em;
}

@font-face {
    font-family: "Charm Regular";
    src: url("../fonts/Charm-Regular.ttf");
}

.dedication {
    text-align: center;
    margin-top: 13em;
    font-size: 1.3em;
    font-family: "Charm Regular";
    /*font-family: "Apple Chancery";*/
}