<!DOCTYPE html>
<html lang="en">
    <body>
        <h1 class="title"><span class="page-number">{{ pageNumber }}</span>Herb Uses</h1>
        <div class="wrapper">
            <div class="herbs-wrapper">
                <table>
                    <tr>
                        <td class="table-header">Herb</td>
                        <td class="table-header">Flavor</td>
                        <td class="table-header">Uses</td>
                    </tr>
                    <tr>
                        <td>basil</td>
                        <td class="flavor">anise, cloves, mint</td>
                        <td class="use">pasta sauce, pesto, salad</td>
                    </tr>
                    <tr>
                        <td>dill</td>
                        <td class="flavor">grassy, mild</td>
                        <td class="use">eggs, fish, poultry, vegetables</td>
                    </tr>
                    <tr>
                        <td>rosemary</td>
                        <td class="flavor">aromatic, piney</td>
                        <td class="use">apples, pears, potatoes, red meat, stuffing</td>
                    </tr>
                    <tr>
                        <td>bay laurel</td>
                        <td class="flavor">aromatic, vanilla, cardamon</td>
                        <td class="use">beans, braised meat, poulter, soup, stew</td>
                    </tr>
                    <tr>
                        <td>mint</td>
                        <td class="flavor">menthol, icy, zesty</td>
                        <td class="use">cocktails, lamb, salads, tea</td>
                    </tr>
                    <tr>
                        <td>sage</td>
                        <td class="flavor">smokey, woodsy</td>
                        <td class="use">meat, poultry, sausage, stuffing</td>
                    </tr>
                    <tr>
                        <td>chives</td>
                        <td class="flavor">oniony</td>
                        <td class="use">dips, eggs, vegetables</td>
                    </tr>
                    <tr>
                        <td>oregano</td>
                        <td class="flavor">anise, cloves, mint</td>
                        <td class="use">chili, grilled or roasted meat, pasta sauce</td>
                    </tr>
                    <tr>
                        <td>tarragon</td>
                        <td class="flavor">anise, exotic, sweet</td>
                        <td class="use">asparagus, bearnaise sauce, fish, pease, poultry</td>
                    </tr>
                    <tr>
                        <td>cilantro</td>
                        <td class="flavor">citrus, pungent</td>
                        <td class="use">marinades, mexican and thai dishes, salsa</td>
                    </tr>
                    <tr>
                        <td>parsley</td>
                        <td class="flavor">bitter</td>
                        <td class="use">most meats and vegetables</td>
                    </tr>
                    <tr>
                        <td>thyme</td>
                        <td class="flavor">aarthy, fragrant, mild lemon</td>
                        <td class="use">meat, poultry, sauces, broth vegetables</td>
                    </tr>
                </table>
            </div>
            <div class="pairings-wrapper">
                <table>
                    <tr>
                        <td class="table-header">Herb Combo</td>
                        <td class="table-header">Pairing</td>
                    </tr>
                    <tr>
                        <td>cilantro & dill</td>
                        <td class="pairing">slight shift to mexican and thai</td>
                    </tr>
                    <tr>
                        <td>dill & chives</td>
                        <td class="pairing">cold chicken or egg salad, sauteed summer vegetables, fresh tomatoes.</td>
                    </tr>
                    <tr>
                        <td>mint, oregano & parsley</td>
                        <td class="pairing">meditrranean or middle eastern, grain salads, marinades</td>
                    </tr>
                    <tr>
                        <td>parsley, rosemary & thyme</td>
                        <td class="pairing">roasted or braised meats, chicken, stuffing, roasted vegetables</td>
                    </tr>
                    <tr>
                        <td>sage & parsley</td>
                        <td class="pairing">creamy risotto, roasted winter squash, stuffing, and roasted or braised meats.</td>
                    </tr>
                    <tr>
                        <td>thyme & tarragon</td>
                        <td class="pairing">sour cream or mustard sauce, eggs, omelets</td>
                    </tr>
                    <tr>
                        <td>basil & thyme</td>
                        <td class="pairing">tomato based sauces, eggplant dishes, quiche, salads</td>
                    </tr>
                    <tr>
                        <td>basil & mint</td>
                        <td class="pairing">pesto for tomatoes, pasta, vinaigrette dressing, melon</td>
                    </tr>
                </table>
            </div>
            
        </div>
        
    </body>
</html>