@page {
    size: 8.5in 11in;
    margin: 0mm;
    margin-bottom: 3em;
    margin-top: 2em;
    padding-left: .5em;
    padding-right: .5em;
}

@font-face {
    font-family: "MomsDiner";
    src: url("../fonts/MomsDiner.ttf");
}

@font-face {
    font-family: "Charm Regular";
    src: url("../fonts/Charm-Regular.ttf");
}

@font-face {
    font-family: "texgyreschola-italic";
    src: url("../fonts/texgyreschola-italic.otf");
}

@font-face {
    font-family: "texgyreschola-regular";
    src: url("../fonts/texgyreschola-regular.otf");
}

body {
    margin: 1px;
    font-size: 1em;
   /*font-family: "Century";*/
    padding-left: 2em;
}

.title {
    font-family: "Charm Regular";
   /*font-family: "Apple Chancery";*/
    text-align: left;
    font-size: 2.5em;
}

.page-number {
    font-size: 2.7em;
    margin-right: .1em;
    font-family: "MomsDiner";
   /*font-family: "Bodoni 72";*/
}

.wrapper {
    font-family: "texgyreschola-regular";
   /*font-family: 'Century Schoolbook Regular';*/
    font-size: .8em;
}

table {
    width: 100%;
}

td {
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.measurement {
    font-family: "texgyreschola-italic";
   /*font-family: 'Century Schoolbook Italic';*/
    font-style: italic;
    font-size: .5em;
}

.original {
    
}

.substitution {
    vertical-align: top;
    font-family: "texgyreschola-italic";
   /*font-family: 'Century Schoolbook Italic';*/
    font-style: italic;
    font-size: .8em;
}