<!DOCTYPE html>
<html lang="en">
    <body>
        <h1 class="title"><span class="page-number">{{ pageNumber }}</span>Substitutions</h1>
        <div class="wrapper">
            <table>

                <tr>
                    <td class="original">baking powder<div class="measurement">1 teaspoon</div></td>
                    <td class="substitution"><sup>1</sup>&frasl;<sub>2</sub> teaspoon cream of tartar + <sup>1</sup>&frasl;<sub>2</sub> teaspoon baking soda</td>
                </tr>
                <tr>
                    <td class="original">balsamic vinegar<div class="measurement">1 tablespoon</div></td>
                    <td class="substitution">1 tablespoon red wine vinegar + <sup>1</sup>&frasl;<sub>2</sub> teaspoon brown sugar</td>
                </tr>
                <tr>
                    <td class="original">bread crumbs dry<div class="measurement"><sup>1</sup>&frasl;<sub>4</sub> cup</div></td>
                    <td class="substitution"><sup>3</sup>&frasl;<sub>4</sub> cup soft bread crumbs (1 slice of bread)</td>
                </tr>
                <tr>
                    <td class="original">broth (beef, chicken or vegetable)<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 teaspoon broth base or 1 bouillon cube + 1 cup hot water</td>
                </tr>
                <tr>
                    <td class="original">brown sugar<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup sugar + 2 tablespoon molasses</td>
                </tr>
                <tr>
                    <td class="original">buttermilk<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 tablespoon vinegar or lemon juice + enough milk to make 1 cup (stire and let stand 5 minutes)</td>
                </tr>
                <tr>
                    <td class="original">cake flour<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup minus 2 tablespoon all-purpose flour, sifted</td>
                </tr>
                <tr>
                    <td class="original">corn syrup<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup granulated sugar + <sup>1</sup>&frasl;<sub>4</sub> cup hot water</td>
                </tr>
                <tr>
                    <td class="original">cornstarch (for thickening)<div class="measurement">1 tablespoon</div></td>
                    <td class="substitution">2 tablespoon all-purpose flour</td>
                </tr>
                <tr>
                    <td class="original">egg<div class="measurement">1 whole</div></td>
                    <td class="substitution"><sup>1</sup>&frasl;<sub>4</sub> cup refrigerated egg product, or for baking, 1 tablespoon flaxseed + 3 tablespoon water</td>
                </tr>
                <tr>
                    <td class="original">garlic<div class="measurement">1 clove</div></td>
                    <td class="substitution"><sup>1</sup>&frasl;<sub>2</sub> teaspoon botled minced garlic or <sup>1</sup>&frasl;<sub>8</sub> teaspoon garlic powder</td>
                </tr>
                <tr>
                    <td class="original">ginger (fresh grated)<div class="measurement">1 teaspoon</div></td>
                    <td class="substitution"><sup>1</sup>&frasl;<sub>4</sub> teaspoon ground ginger</td>
                </tr>
                <tr>
                    <td class="original">half and half or light cream<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 tablespoon melted butter or 4 tablespoons heavy cream + enough milk to make 1 cup</td>
                </tr>
                <tr>
                    <td class="original">heavy cream (for soups and sauces)<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup evaporated milk</td>
                </tr>
                <tr>
                    <td class="original">lemon juice<div class="measurement">1 tablespoon</div></td>
                    <td class="substitution">1 <sup>1</sup>&frasl;<sub>2</sub> teaspoon apple cider vinegar or white wine vinegar</td>
                </tr>
                <tr>
                    <td class="original">milk<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup plant milk (unsweetened, unflavored) such as oat, soy, almond, cashew</td>
                </tr>
                <tr>
                    <td class="original">mustard powder<div class="measurement">1 teaspoon</div></td>
                    <td class="substitution">1 tablespoon yellow mustard</td>
                </tr>
                <tr>
                    <td class="original">onion chopped<div class="measurement">1/2 cup</div></td>
                    <td class="substitution">2 tablespoon dried minced onion</td>
                </tr>
                <tr>
                    <td class="original">self-rising flour<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup all-purpose flour + 1 teaspoon baking powder + <sup>1</sup>&frasl;<sub>2</sub> teaspoon kosher salt + <sup>1</sup>&frasl;<sub>4</sub> teaspoon baking soda</td>
                </tr>
                <tr>
                    <td class="original">sour cream<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup plain greek yogurt</td>
                </tr>
                <tr>
                    <td class="original">tomato sauce<div class="measurement">1 cup</div></td>
                    <td class="substitution"><sup>1</sup>&frasl;<sub>2</sub> cup tomato paste + <sup>1</sup>&frasl;<sub>2</sub> cup water</td>
                </tr>
                <tr>
                    <td class="original">vanilla bean<div class="measurement">1 whole bean</div></td>
                    <td class="substitution">1 tablespoon vanilla bean paste or pure vanilla extract</td>
                </tr>
                <tr>
                    <td class="original">white sugar<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup brown sugar or 2 cup sifted powdered sugar</td>
                </tr>
                <tr>
                    <td class="original">win, red<div class="measurement">1 cup</div></td>
                    <td class="substitution"> cup broth for savory recipes or 1 cup 100% cranberry juice for baked recipes</td>
                </tr>
                <tr>
                    <td class="original">wine, white<div class="measurement">1 cup</div></td>
                    <td class="substitution">1 cup chicken broth or 1 cup apple juice in desserts</td>
                </tr>    
            </table>
        </div>        
    </body>
</html>