@page {
    size: 8.5in 11in;
    margin: 0mm;
    padding-left: .5em;
    padding-right: .5em;
}

@font-face {
    font-family: "Bodoni 72 Oldstyle";
    src: url("../fonts/Bodoni\ 72\ OS.ttc");
}

@font-face {
    font-family: "Apple Chancery";
    src: url("../fonts/Apple\ Chancery.ttf");
}

h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 4.5em;
   font-family: "Bodoni 72 Oldstyle";
}

h2 {
    text-align: center;
    margin-top: -.5em;
    font-size: 1.8em;
   font-family: "Apple Chancery";
}