@page {
    size: 8.5in 11in;
    margin: 0mm;
    margin-bottom: 6em;
    margin-top: 4em;
    padding-left: .5em;
    padding-right: .5em;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("../fonts/Bodoni\ 72.ttc");
}

@font-face {
    font-family: "Bodoni 72 Oldstyle";
    src: url("../fonts/Bodoni\ 72\ OS.ttc");
}

@font-face {
    font-family: "Century Regular";
    src: url("../fonts/Century\ Regular.ttf");
}

body {
   font-family: "Century Regular";
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.5em;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
}

.categoryHeader {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    margin-bottom: .3em;
}

.line-wrapper {
    display: flex;
}

.recipe-name {
    float: left;
    flex-grow: 1;
    margin-left: 1em;
}

.recipe-number {
    float: right;
    text-align: right;
    flex-grow: 1000;
    border-bottom: 1px dotted;
    font-family: "Bodoni 72";
}

.toc-wrapper {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
}