<!DOCTYPE html>
<html lang="en">
    <body>
        <h1 class="title"><span class="page-number">{{ pageNumber }}</span>Unit Conversions</h1>
        <div class="wrapper">
            <h2 class="table-title">Dry</h2>
            <table class="dry-table">
                <tr>
                    <td class="table-header">Ounces</td>
                    <td class="table-header">Tablespoons</td>
                    <td class="table-header">Cups</td>
                    <td class="table-header">Grams</td>
                    <td class="table-header">Pounds</td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>1</td>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                    <td>15</td>
                    <td><sup>1</sup>&frasl;<sub>32</sub></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td><sup>1</sup>&frasl;<sub>8</sub></td>
                    <td>28</td>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>4</td>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                    <td>57</td>
                    <td><sup>1</sup>&frasl;<sub>8</sub></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>6</td>
                    <td><sup>1</sup>&frasl;<sub>3</sub></td>
                    <td>85</td>
                    <td><sup>3</sup>&frasl;<sub>16</sub></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>8</td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>115</td>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>16</td>
                    <td>1</td>
                    <td>227</td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>24</td>
                    <td>1 <sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>340</td>
                    <td><sup>3</sup>&frasl;<sub>4</sub></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>32</td>
                    <td>2</td>
                    <td>455</td>
                    <td>1</td>
                </tr>
            </table>
            <h2 class="table-title">Fluid</h2>
            <table class="fluid-table">
                <tr>
                    <td class="table-header">Gallons</td>
                    <td class="table-header">Quarts</td>
                    <td class="table-header">Pints</td>
                    <td class="table-header">Cups</td>
                    <td class="table-header">Tablespoons</td>
                    <td class="table-header">Teaspoons</td>
                    <td class="table-header">Fluid Ounces</td>
                    <td class="table-header">Milliliters</td>
                    <td class="table-header">Liters</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>4</td>
                    <td>8</td>
                    <td>16</td>
                    <td>256</td>
                    <td>768</td>
                    <td>128</td>
                    <td>3785</td>
                    <td>3.8</td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                    <td>1</td>
                    <td>2</td>
                    <td>4</td>
                    <td>64</td>
                    <td>192</td>
                    <td>32</td>
                    <td>946</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>8</sub></td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>1</td>
                    <td>2</td>
                    <td>32</td>
                    <td>96</td>
                    <td>16</td>
                    <td>470</td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>1</td>
                    <td>16</td>
                    <td>48</td>
                    <td>8</td>
                    <td>240</td>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>64</sub></td>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                    <td><sup>1</sup>&frasl;<sub>8</sub></td>
                    <td><sup>1</sup>&frasl;<sub>4</sub></td>
                    <td>4</td>
                    <td>12</td>
                    <td>2</td>
                    <td>60</td>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                </tr>
                <tr>
                    <td><sup>1</sup>&frasl;<sub>256</sub></td>
                    <td><sup>1</sup>&frasl;<sub>64</sub></td>
                    <td><sup>1</sup>&frasl;<sub>32</sub></td>
                    <td><sup>1</sup>&frasl;<sub>16</sub></td>
                    <td>1</td>
                    <td>3</td>
                    <td><sup>1</sup>&frasl;<sub>2</sub></td>
                    <td>15</td>
                    <td><sup>1</sup>&frasl;<sub>64</sub></td>
                </tr>
            </table>
            <h2 class="table-title">Oven Temps</h2>
            <table class="oven-temps">
                <tr>
                    <td class="table-header">Fahrenheit</td>
                    <td class="table-header">Celsius</td>
                </tr>
                <tr>
                    <td>500</td>
                    <td>260</td>
                </tr>
                <tr>
                    <td>475</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>450</td>
                    <td>230</td>
                </tr>
                <tr>
                    <td>425</td>
                    <td>220</td>
                </tr>
                <tr>
                    <td>400</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>375</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>350</td>
                    <td>180</td>
                </tr>
                <tr>
                    <td>325</td>
                    <td>170</td>
                </tr>
                <tr>
                    <td>300</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>275</td>
                    <td>140</td>
                </tr>
                <tr>
                    <td>250</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>225</td>
                    <td>110</td>
                </tr>
            </table>
        </div>
    </body>
</html>